@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
body {
    background-color: #E2FEFF;
}

@font-face {
    font-family: 'Agrandir';
    src: local('Agrandir-black'), url(/static/fonts/Agrandir-GrandHeavy.otf);
}

@font-face {
    font-family: 'Agrandir-Regular';
    src: local('Agrandir-Regular'), url(/static/fonts/Agrandir-WideLight.otf);
}

@font-face {
    font-family: 'Agrandir-ThinItalic';
    src: local('Agrandir-ThinItalic'), url(/static/fonts/Agrandir-ThinItalic.otf);
}

@font-face {
    font-family: 'Agrandir-Tight';
    src: local('Agrandir-Tight'), url(/static/fonts/Agrandir-Tight.otf);
}

@font-face {
    font-family: 'SpaceMono-regular';
    src: local('SpaceMono-regular'), url(/static/fonts/SpaceMono-Regular.ttf);
}

@font-face {
    font-family: 'SpaceMono-italic';
    src: local('SpaceMono-italic'), url(/static/fonts/SpaceMono-Italic.ttf);
}

@font-face {
    font-family: 'SpaceMono-italicBold';
    src: local('SpaceMono-italicBold'), url(/static/fonts/SpaceMono-BoldItalic.ttf);
}

@font-face {
    font-family: 'SpaceMono-bold';
    src: local('SpaceMono-bold'), url(/static/fonts/SpaceMono-Bold.ttf);
}

.submit-button {
    background-image: url("../static/submit-button-background.png");
    background-size: 100%;
}

.left-scroll {
    direction: rtl;
}

.MuiLinearProgress-colorPrimary {
    background-color: #667eea !important;
    height: 7px !important;
}

.MuiLinearProgress-barColorPrimary {
    background-color: #FF5B33 !important;
    border: 2px solid #FF5B33;
}

.MuiLinearProgress-bar2Indeterminate {
    background-color: #FF5B33 !important;
    border: 2px solid #FF5B33;
}
